body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.primary-color{
    color: #FD6E0A;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
   
}
nav  a{
    text-decoration: none;
    color: #474747;
}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}
.primary-btn{
    border: none;
    background-color:#FD6E0A;
    padding: 15px 35px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.header{
    background-color: #fff8f3;
    
}
.header-container{
    display: flex;
}